*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F2F4;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none; 
  }
  

/* Navigation */

.nav{
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1vw;
    padding: 12px 28px;
    font-weight: 50;
}

.input{
   height: 40px;
   width: 700px;
   background-color: #F0F5FF;
   display: flex;
   border-radius: 5px;
   font-size: 1.2vw;
}
.input i{
    width: 44px;
    padding: 10px 13px;
}
#search{
    width: calc(100% - 44px);
    background-color: #F0F5FF;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
}

.icon{
    font-size: 1.2vw;
    margin: 0px 8px 0px 0px;
}

.login{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.login :first-child{
    margin: 0px 8px 0px 0px;
}
.login :nth-child(3){
    margin: 0px 0px 0px 8px;
    font-size: 0.50vw;
}

.login:hover{
    background-color: #2A55E5;
    color: #ffffff;
    border-radius: 5px;
}

.cart{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller{
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation images Bar */

.nav-img-bar{
    height: 126px;
    width: calc(100% - margin);
    background-color: #ffffff;
    margin: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 100%;
    width: 122px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.long-box{
    width: 190px;
}
.med-box{
    width: 170px;
}

.box > span{
    font-size: 0.9vw;
    font-weight: 700;
}
.box-white{
    height: 100%;
    width: 122px;
}

span > i {
    font-size: small;
}

.box img{
     margin: 0px 0px 12px;
}

/* Slider  */

.slider{
    height: 265px;
    background-image: url('./Images/slider.webp');
    width: calc(100% - margin);
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider button{
    width: 40px;
    height: 88px;
    border: none;
    font-size: medium;
    background-color: #ffffff;
}

.slide-btn-left{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.slide-btn-right{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*  Content Parts */

.content{
    height: 344px;
    width: calc(100% - margin);
    margin: 16px 16px 0px 16px;
    background-color: #ffffff;
}

.heading{
    height: 64px;
    color: #212121;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading div{
    height: 28px;
    width: 28px;
    background-color: #2A55E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
}

.blank{
    height: 280;
    width: 100%;
    margin: 0px 4px 12px 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box-prod{
    height: 268px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 5px;
    
}

.box-prod img{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.box-prod .long-prod-img{
    width: 150px;
    height: 150px;
}

.discount{
    margin-top: 3px;
    font-weight: 600;
}

/*  Footer */

footer{
    width: 100%;
    height: 355px;
    background-color: #212121;
    margin-top:10px ;
    font-size: 12px;
    color: #ffffff;
}

.up-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px 0px;
}

.footer-part > ul{
    list-style-type: none;

}

.footer-part> ul > li{
    line-height: 18px;
    font-weight: 700;
}

.foot-head-name{
    color: #878787;
    margin: 0px 0px 12px;
}

.footer-part p{
    line-height: 5px;
}

.foot-txt-part
{
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.contact-logo i{
    margin-right: 16px;
    font-size: 20px;
}

/* Last Footer */

.bottom-footer{
    height: 69px;
    margin: 40px 0px 0px;
    border-top: 1px solid #454d5e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-foot-part i{
    margin-right: 5px;
    color: #C6AA30;
}